<div class="foods-wrapper row">

  <h6>Get Some Junk in Yo Trunk!</h6><br>

  <%= form_tag(foods_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search Foods") %>
  <% end %>
</div>




<div class="row">
  <div class="column">
  <div class="col-md-12">
    <div id="mdb-lightbox-ui"></div>
      <div class="mdb-lightbox no-margin">
        <figure class="col-md-4">
          <% @foods.each do |f| %>
          <%= link_to(image_tag(f.image, class: "food-image"), food_path(f), class: "link-image") %>
          <% end %>
        </a>
      </figure>
    </div>
  </div>
</div>
