<div class="foods-wrapper">
  <h3>Get Some Junk in Yo Trunk!</h3>

  <%= form_tag(foods_path, method: :get, class: 'ui form') do %>
  <div class="inline field">
    <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag ("Search Foods"), class: 'ui black button' %>
  </div>

  <% end %>
</div>

  <div class="ui grid container">
    <% @foods.each do |f| %>
      <div class="four wide column">
        <%= link_to(image_tag(f.image, class: "food-image"), food_path(f)) %>
      </div>
    <% end %>
  </div>
