<div class="ui secondary pointing massive menu">
  <%= link_to "Awfully Delicious", foods_path, class: "active item" %>

  <% if logged_in? %>
    <%= link_to "New Food", new_food_path, class: "item" %>

    <div class="right menu">
      <%= link_to "Logout", logout_path, method: :delete, class: 'ui item' %>
    </div>
  <% else %>
    <div class="right menu">
      <%# link_to "Login", new_foodie_session_path %>
      <%= link_to "Sign Up", new_foodie_path, class: 'ui item' %>
    </div>
  <% end %>
</div>
